@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Universidad Politecnica Internacional.</p>
<p>Curso: Tecnica de programacion , Codigo: 90501.</p>
<p>Profesor: Luis Felipe Mora Umaña</p>
<p>Alumnos: Andres Salazar Villalobos, María José Jiménez Arce.</p>
<p>2024.</p>